.TopNavbar {
  height: 65px;
  background-color: white;
}
.TopNavbar .logo-wrapper {
  background-image: url("../../images/JourneyLogSmall.png");
  background-position: center;
  background-size: contain;
  height: 40px;
  width: 50px;
}
@media screen and (min-width: 600px) {
  .TopNavbar .logo-wrapper {
    background-image: url("../../images/JourneyLogLogo.png");
    width: 150px;
  }
}

.TopNavbar.navbar {
  height: 65px;
  box-shadow: var(--prim-box-shadow);
}
.TopNavbar .avatar {
  height: 38px;
  width: 38px;
  object-fit: cover;
  border-radius: 50%;
}
.TopNavbar .dropdown-item {
  display: flex;
  align-items: center;
}

.TopNavbar .dropdown-item p {
  margin-left: 10px;
}

.TopNavbar .dropdown-toggle {
  display: flex;
  align-items: center;
}

.TopNavbar .dropdown-menu.show {
  margin-top: 5px;
  right: -12px;
  padding-bottom: 0;
}

.TopNavbar .btn-danger {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.TopNavbar a {
  text-decoration: none;
}
