.TopNavbar {
  height: 65px;
  background-color: rgb(242, 242, 242);
}
.TopNavbar.navbar {
  height: 65px;
  box-shadow: 0 0 5px black;
}
.TopNavbar .avatar {
  height: 38px;
  width: 38px;
  object-fit: cover;
  border-radius: 50%;
}
.TopNavbar .dropdown-item {
  display: flex;
  align-items: center;
}

.TopNavbar .dropdown-item p {
  margin-left: 10px;
}

.TopNavbar .dropdown-toggle {
  display: flex;
  align-items: center;
}

.TopNavbar .dropdown-menu.show {
  margin-top: 5px;
  right: -12px;
  padding-bottom: 0;
}
.TopNavbar .btn:focus {
  outline: none;
  box-shadow: none;
}
.TopNavbar .btn-danger {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.TopNavbar a {
  text-decoration: none;
}
