.FollowBtn {
  font-size: 14px;
  border: 1px solid var(--prim-dark);
  border-radius: 3px;
  background-color: white;
  color: var(--prim-dark);
}
.FollowBtn:hover {
  background-color: var(--prim-dark);
  color: white;
}
