.UploadPhotos {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 400;
}
.UploadPhotos .btn {
  margin: 0;
  opacity: 0.7;
}
.UploadPhotos .btn:focus {
  box-shadow: none;
  outline: none;
}
.UploadPhotos .btn-warning:hover {
  opacity: 1;
}
