.UploadPhotos {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  padding: 0 10px;
  z-index: 400;
}
.UploadPhotos .post-info {
  color: var(--prim-dark);
  margin: 0;
  padding: 0 10px;
  border-radius: 10px;
  text-align: center;
  display: none;
}
@media screen and (min-width: 400px) {
  .UploadPhotos {
    bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .UploadPhotos {
    top: 5px;
    left: 50%;
    bottom: auto;
    width: fit-content;
    transform: translateX(-50%);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: var(--prim-box-shadow);
  }
  .UploadPhotos .upload-btn {
    width: auto;
    margin: 0 0 10px;
    opacity: 0.8;
    box-shadow: var(--prim-box-shadow);
    font-size: 14px;
  }
  .UploadPhotos .post-info {
    display: block;
  }
}
.UploadPhotosCanvas .disclaimer {
  font-size: 12px !important;
}
.UploadPhotosCanvas .input-group {
  width: 200px;
}
.UploadPhotos input[type="file"] {
  display: none;
}
.UploadPhotosCanvas img {
  max-width: 100%;
  max-height: 200px;
}

.UploadPhotosCanvas .btn-success,
.UploadPhotosCanvas .btn-warning {
  cursor: auto !important;
}

.UploadPhotosCanvas .offcanvas-header {
  background-color: lightgray;
  padding: 0 10px;
  height: 65px;
}
.UploadPhotosCanvas .remove-photo-btn {
  position: absolute;
  top: -5px;
  left: -5px;
  color: red;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
.UploadPhotosCanvas .remove-photo-btn:hover {
  color: white;
  background-color: red;
}
