.post-card .card-body {
  padding: 0;
}
.post-card .photos-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: 5px;
  row-gap: 5px;
  max-height: 250px;
  overflow-y: scroll;
  box-shadow: 0 3px 6px -3px rgb(0 0 0 / 50%);
  /* box-shadow: 0px 4px 2px #888, 0px -4px 2px #888; */
  border-radius: 5px;
}
.post-card .single-photo-wrapper {
  text-align: center;
}
.post-card .single-photo-wrapper img {
  border-radius: 5px;
}
.post-card img {
  width: 145px;
  height: 145px;
  object-fit: cover;
}

.post-card hr {
  color: rgb(255, 76, 11);
  margin: 5px 0;
}
.post-card .card-title,
.post-card .card-text {
  margin: 0;
}
.post-card .post-description {
  max-height: 75px;
  overflow-y: scroll;
}
.post-popup a,
.post-popup a:hover {
  color: white;
  text-decoration: none;
}
