.MyProfile img {
  height: 96px;
  width: 96px;
  object-fit: cover;
  border-radius: 50%;
}
.MyProfile textarea {
  min-height: 100%;
  max-width: 500px;
}
.MyProfile .delete-account-button {
  max-width: 300px;
}
