.UserCard .user-avatar {
  height: 64px;
  width: 64px;
  object-fit: cover;
}
.UserCard .map-btn {
  font-size: 14px;
  border: 1px solid var(--prim-blue);
  border-radius: 3px;
  margin-right: 10px;
  background-color: var(--prim-blue);
  color: white;
}
.UserCard .map-btn:hover {
  background-color: white;
  color: var(--prim-blue);
}
.UserCard .text-small {
  font-size: 14px;
}
