.PostMarker .marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #c30b82;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}
.PostMarker .marker-pin::after {
  content: "";
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}
.PostMarker img {
  height: 24px;
  width: 24px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 9px auto;
  text-align: center;
}
.post-card {
  width: 350px;
}
.post-card .card-body {
  padding: 0;
}
.carousel-item {
  height: 400px;
}
.post-card img {
  width: 100%;
}
.post-card hr {
  color: rgb(255, 76, 11);
  margin: 5px 0;
}
.post-card .card-title {
  margin: 0;
}
.post-card .card-text {
  margin: 0;
}
.post-card .carousel-indicators {
  margin-bottom: 3px !important;
}
.post-card .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid black;
}
.post-card .carousel-control-next,
.post-card .carousel-control-prev,
.post-card .carousel-control-next:focus,
.post-card .carousel-control-prev:focus {
  background-color: gray;
  width: 35px;
  opacity: 0.5;
}
.post-card .carousel-control-next:hover,
.post-card .carousel-control-prev:hover {
  opacity: 0.9;
}
.post-popup .leaflet-popup-content-wrapper {
  max-height: 550px;
  overflow-y: scroll;
  width: 350px;
  padding: 0;
}
.post-popup .leaflet-popup-close-button {
  color: white !important;
  font-size: 22px !important;
  right: 3px !important;
  z-index: 5;
}
.leaflet-popup-content {
  margin: 0 0 25px 0;
}
