.Post .edit-btn {
  height: 26px;
  width: 26px;
  padding: 2px;
  color: gray;
  border-radius: 50%;
  background-color: lightgray;
  cursor: pointer;
}
.Post .edit-btn:hover {
  box-shadow: 0 0px 6px 0px rgb(0 0 0 / 50%);
}
.Post h5 {
  margin: 30px 0 15px;
}
.Post .photos-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.Post .photos-wrapper img {
  height: 300px;
  box-shadow: var(--prim-box-shadow);
  border-radius: 5px;
}
.Post .delete-photo-btn {
  visibility: hidden;
  /* position: absolute; */
  /* bottom: 0px; */
  /* transform: translateY(100%); */
}
.Post .photo-item:hover .delete-photo-btn {
  visibility: visible;
}
.Post .photos-wrapper .add-photo-btn-wrapper {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.Post .photos-wrapper .add-photo-btn {
  height: 80px;
  width: 80px;
  flex-shrink: 0;
  border: 2px solid lightgray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: gray;
  margin: 0 10px;
  cursor: pointer;
}
.Post .photos-wrapper .add-photo-btn:hover {
  box-shadow: 0 0px 6px 0px rgb(0 0 0 / 50%);
}
.Post .photos-wrapper .add-photo-btn input[type="file"] {
  display: none;
}
