.MapLegend {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 400;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 20px;
  box-shadow: 0 0 5px gray;
  border-radius: 10px;
}
.MapLegend .marker-pin {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
}

.MapLegend .marker-pin.private {
  background-color: var(--prim-dark);
}
.MapLegend .marker-pin.public {
  background-color: var(--prim-light);
}
.MapLegend p {
  font-size: 14px;
  margin: 0 0 0 10px;
}
.MapLegend i {
  color: gray;
  font-size: 18px;
  width: 18px;
}
.MapLegend .icon-wrapper {
  width: 22px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MapLegend .last {
  height: 24px;
}
