@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.Dashboard {
  min-height: 100%;
}
.Dashboard .row {
  margin-top: 15px;
}

.Dashboard .Greeting,
.Dashboard .at-a-glance,
.Dashboard .followers,
.Dashboard .following,
.Dashboard .posts,
.Dashboard .photos {
  animation: fade-in-top 1s both;
}

.Dashboard .Greeting {
  animation-delay: 0ms;
}
.Dashboard .at-a-glance {
  animation-delay: 400ms;
}
.Dashboard .followers {
  animation-delay: 800ms;
}
.Dashboard .following {
  animation-delay: 1200ms;
}
.Dashboard .posts {
  animation-delay: 1600ms;
}
.Dashboard .photos {
  animation-delay: 2000ms;
}
.Dashboard section {
  margin-bottom: 50px;
}
