.Dashboard {
  min-height: 100%;
  scroll-behavior: smooth;
}
.Dashboard section > h3 {
  font-weight: 800;
  font-size: 18px;
}
.Dashboard .post-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}
.Dashboard .post-created {
  font-size: 14px;
}
.Dashboard .row {
  margin-top: 5px;
}
.Dashboard .at-a-glance h3 {
  font-size: 40px;
  font-weight: 600;
}
.Dashboard .at-a-glance svg {
  font-size: 60px;
  opacity: 0.6;
}
.Dashboard .at-a-glance .card {
  border: none;
  transition: all 0.5s;
  box-shadow: var(--prim-box-shadow);
}
.Dashboard .at-a-glance .card:hover {
  transform: scale(1.05);
}
.Dashboard section:hover {
  z-index: 10;
  position: relative;
}
.Dashboard .Greeting,
.Dashboard .at-a-glance,
.Dashboard .followers,
.Dashboard .following,
.Dashboard .posts,
.Dashboard .photos {
  animation: slide-in-top 1s both;
}

.Dashboard .Greeting {
  animation-delay: 0ms;
}
.Dashboard .at-a-glance {
  animation-delay: 400ms;
}
.Dashboard .followers {
  animation-delay: 800ms;
}
.Dashboard .following {
  animation-delay: 1200ms;
}
.Dashboard .posts {
  animation-delay: 1600ms;
}
.Dashboard .posts .post-card {
  padding: 1rem;
  background-color: white;
  box-shadow: var(--prim-box-shadow);
  transition: all 0.5s;
  cursor: pointer;
}

.Dashboard .posts .post-card:hover {
  transform: scale(1.05);
}
.Dashboard a {
  text-decoration: none;
}
.Dashboard .photos {
  animation-delay: 2000ms;
  padding-bottom: 50px;
}
.Dashboard .photos .photos-uploaded {
  font-size: 14px;
}
.Dashboard .photos .delete-photo-btn {
  visibility: hidden;
  padding: 0;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.Dashboard .photos .photo-card:hover .delete-photo-btn {
  visibility: visible;
}
.Dashboard .photos .photo-card img {
  border-radius: 3px;
  box-shadow: var(--prim-box-shadow);
}
.Dashboard section {
  padding-top: 40px;
}
