.Comment {
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--prim-box-shadow);
  padding: 5px;
}
.Comment img {
  height: 42px;
  width: 42px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
