.SearchUsers .form-control:focus {
  box-shadow: none;
}
.SearchUsers .search-results {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 31px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  border: 1px solid rgb(191, 191, 191);
  max-height: 400px;
  min-width: 230px;
  width: fit-content !important;
  overflow-y: scroll;
}

.SearchUsers .search-results p {
  font-size: 14px;
  white-space: nowrap;
}
.SearchUsers .search-results p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.SearchUsers .search-results img {
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 50%;
}
.SearchUsers .search-results > div {
  padding: 5px 10px;
}
.SearchUsers .search-results > div:hover {
  background-color: rgb(230, 230, 230);
}

.SearchUsers .search-results .follow-btn,
.SearchUsers .search-results .unfollow-btn,
.SearchUsers .search-results .me-btn {
  font-size: 14px;
  border: 1px solid var(--prim-dark);
  border-radius: 3px;
  margin-left: auto;
}
.SearchUsers .search-results .follow-btn {
  background-color: white;
  color: var(--prim-dark);
}
.SearchUsers .search-results .follow-btn:hover {
  background-color: var(--prim-dark);
  color: white;
}
.SearchUsers .search-results .unfollow-btn {
  background-color: var(--prim-dark);
  color: white;
}
.SearchUsers .search-results .unfollow-btn:hover {
  background-color: white;
  color: var(--prim-dark);
}
.SearchUsers .search-results .me-btn {
  border: 1px solid var(--prim-light);
  background-color: white;
  color: var(--prim-light);
  cursor: auto;
}
