.NewPostCanvas .offcanvas-header {
  background-color: lightgray;
  padding: 0 10px;
  height: 65px;
}

.NewPostCanvas hr {
  margin: 22px 0;
}

.NewPostCanvas .photos-container img {
  max-height: 150px;
}

.NewPostCanvas input[type="file"] {
  display: none;
}

.NewPostCanvas .btn-success,
.NewPostCanvas .btn-warning {
  cursor: auto;
}
.NewPostCanvas .remove-photo-btn {
  position: absolute;
  top: -5px;
  left: -5px;
  color: red;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
.NewPostCanvas .remove-photo-btn:hover {
  color: white;
  background-color: red;
}
