@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  margin: 0;
  padding-top: 65px;
  background-color: rgba(0, 0, 0, 0.03);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.btn:focus,
.form-control:focus {
  box-shadow: none;
  outline: none;
}

p,
h3 {
  margin: 0;
}
.text-small {
  font-size: 13px;
}

:root {
  --prim-dark: #d86e74;
  --prim-light: #d8b26e;
  --prim-green: #96d86e;
  --prim-blue: #6e98d8;
  --prim-box-shadow: 0 3px 6px 0px rgb(0 0 0 / 50%);
}
.main-btn {
  background-color: #96d86e;
  color: black;
  font-weight: 500;
  border: none;
  width: 100%;
  justify-content: center;
  opacity: 0.8;
  box-shadow: var(--prim-box-shadow);
  padding: 8px 10px;
  border-radius: 0.2rem;
  font-size: 18px;
}
.main-btn:hover {
  background-color: #83c25c;
}
