@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800;900&display=swap");
@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  margin: 0;
  padding-top: 65px;
  background-color: rgba(0, 0, 0, 0.03);
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.btn:focus,
.form-control:focus {
  box-shadow: none;
  outline: none;
}

p,
h3 {
  margin: 0;
}
.text-small {
  font-size: 13px;
}

:root {
  --prim-dark: #d86e74;
  --prim-light: #dec84c;
  --prim-green: #96d86e;
  --prim-blue: #6e98d8;
  --prim-box-shadow: 0 3px 6px -3px rgb(0 0 0 / 30%);
}
.main-btn {
  background-color: #96d86e;
  color: #1e3b0c;
  font-weight: 500;
  border: none;
  box-shadow: var(--prim-box-shadow);
  padding: 0.75rem 2rem;
  border-radius: 10px;
  font-size: 18px;
}
.main-btn:hover {
  background-color: #83c25c;
}
