.Login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login form {
  padding: 20px 40px;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
}

.Login button {
  width: 100px;
}

.Login hr {
  border: 1px solid black;
  width: 100%;
}
